{% load i18n admin_urls static %}

<style>
    .admin-select2-filter {
        position: relative;
        padding: 0 15px;
        box-sizing: border-box;
        margin-top: 5px;
        margin-bottom: 15px;
        max-width: 300px;
    }

    .autocomplete {
        position: relative;
    }

    .autocomplete .autocomplete-result {
        padding: 0 15px;
        box-sizing: border-box;
    }

    .autocomplete .autocomplete-result ul {
        margin: 5px 0;
        padding: 0 5px 15px !important;
    }

    .autocomplete .autocomplete-result ul li {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
</style>

<details class="autocomplete" data-filter-title="{{ choices.0.field_name }}" open="">
    <summary>
        <h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
    </summary>

    <div class="admin-select2-filter">
        <select
            style="width: 100%;"
            id="id_{{ spec.field_path }}"
            multiple
            data-ajax--cache="true"
            data-ajax--delay=250
            data-ajax--type="GET"
            data-ajax--url="{{ choices.0.autocomplete_url|safe }}"
            data-app-label="{{ choices.0.app_label }}"
            data-model-name="{{ choices.0.model_name }}"
            data-field-name="{{ choices.0.field_name }}"
            data-theme="admin-autocomplete"
            data-allow-clear="true"
            data-placeholder=""
            class="admin-autocomplete"
        >
            {% if choices.0.selected_items %}
                {% for item in choices.0.selected_items %}
                    <option selected="selected" value="{{ item.pk }}">{{ item }}</option>
                {% endfor %}
            {% endif %}
        </select>

        <div
            class="autocomplete-result"
            id="{{ choices.0.field_name }}_autocomplete_result"
        >
        </div>

        <a id="{{ title|slugify }}_submit" href="" title="filter" class="button"
            style="border:1px solid var(--border-color);background:var(--darkened-bg)">
            {% trans "Filter" %}
        </a>
    </div>
</details>


<script type="text/javascript">
django.jQuery(document).ready(function() {
    var field_name = '{{ spec.field_path }}';
    var field_id = '#id_' + field_name;

    var $select = django.jQuery(field_id);

    // click handler for submit
    django.jQuery('#{{ title|slugify }}_submit').on('click', function(e) {
        e.preventDefault();

        var values = $select.val();  // array of selected IDs
        if (!values || values.length === 0) {
            return false;
        }

        var url = new URL(window.location.href);
        var key = `${field_name}__id__in`;

        // clear existing values
        url.searchParams.delete(key);

        // add selected values as CSV
        url.searchParams.set(key, values.join(','));

        window.location.href = url;
    });
});
</script>
